doctype html
head
  meta(charset='UTF-8')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='https://cdn.jsdelivr.net/npm/chart.js@2.8.0')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js')
  link(rel='shortcut icon' type='image/png' href='img/favicon.png')
  link(rel='stylesheet' href='../css/main.css')
  script(src="/socket.io/socket.io.js")
  script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
  title Chat | Vulture
  link(rel="stylesheet", href="css/fa.css")
  script.
    const mode = localStorage.getItem('mode');

    if(mode === "Dark"){
      document.documentElement.setAttribute('data-theme', 'dark');
    } else {
      document.documentElement.setAttribute('data-theme', 'light');
    }




.control-menu
  img.control-logo(src='../img/grey-icon.png' alt='Vulture Grey Icon')
  .control-top
    div
      a(href="/projects")
        i.fa.fa-bookmark
    div.control-active
      a
        i.fa.fa-comments-alt
  .control-bottom
    div
      a(href="/account")
        i.fa.fa-cog
.subset-menu
  .subset-proj-header
  hr.subset
  .below-sb-hr
    .subset-list
        for user in chatusers
            if currentChat === user[2]
                a.contact-item.contact-item-active(href="/chat?chat="+user[2])
                    .contact-picture-container
                        .contact-picture
                        div(class=`contact-picture-activity ${user[3].toLowerCase()}` data-toggle="tooltip" data-html="true" data-placement="top" title=`<b>${user[3]}</b>`)
                    .contact-name= user[0]
                    .chat-link.dpn= user[2]
                    .contact-id.dpn= user[1]
            else
                a.contact-item(href="/chat?chat="+user[2])
                    .contact-picture-container
                        .contact-picture
                        div(class=`contact-picture-activity ${user[3].toLowerCase()}` data-toggle="tooltip" data-html="true" data-placement="top" title=`<b>${user[3]}</b>`)
                    .contact-name= user[0]
                    .chat-link.dpn= user[2]
                    .contact-id.dpn= user[1]
  .subset-profile
    .sp-left
      .sp-picture HH
    .sp-right
      .sp-name
        | #{user.name}
      - roleClass = 'role-text role-'+user.role
      .dpn.user-email #{user.email}
      
.chat-body
    .messages-body-outer
        .chat-bar
            .fad.fa-at.grey-i
            | #{currentChatUser.name}
            div(class=`activity ${currentChatUser.status.toLowerCase()}` data-toggle="tooltip" data-html="true" data-placement="right" title=`<b>${currentChatUser.status}</b>`)
            .typing-container.dpn
                .typing-1
                .typing-2
                .typing-3
                .typing Typing...
        .messages-body
            .message-container 
                .message-bar
                    .message-picture
                .message-content
                    .message-username Henry Hudson
                        span.message-date Yesterday at 11:55PM
                    .message-message Hello
                .dpn henrybhudson@gmail.com
            .message-container 
                .message-bar
                    .message-picture
                .message-content
                    .message-username Person 2
                        span.message-date Yesterday at 11:56PM
                    .message-message Hello there
                .dpn testemail@email.com
            .message-container 
                .message-bar
                    .message-picture
                .message-content
                    .message-username Henry Hudson
                        span.message-date Today at 1:58PM
                    .message-message How's it going
                .dpn henrybhudson@gmail.com
            .message-container 
                .message-bar
                    .message-picture
                .message-content
                    .message-username Person 2
                        span.message-date Today at 2:00PM
                    .message-message Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure odit ut id et officia, laboriosam unde blanditiis quod alias nihil amet suscipit aperiam quos quas atque asperiores adipisci neque molestias ipsam. Quas, soluta. Distinctio dolor quaerat id fugit quas porro maxime molestias nisi voluptates. Reiciendis ad beatae mollitia cupiditate aspernatur numquam blanditiis ducimus, iste voluptatum praesentium dolore minus aliquid qui eius delectus. Quam nihil corporis soluta commodi natus necessitatibus facilis est ullam fugit quaerat perspiciatis ratione temporibus possimus porro error sunt, quo inventore, quas, incidunt pariatur voluptas itaque dignissimos doloremque ad? Non cupiditate laborum perferendis. Similique cum laudantium laborum eius?
                .dpn testemail@email.com
            
    .message-input-bar
        .message-input-container
            .message-input-placeholder Message Person
            .message-input(aria-label="Message Person" contentEditable="true" aria-multiline="true")
script(src="js/socket.js")
script(src='http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js' type='text/javascript')
script(src='js/bundle.js')
script(src='js/response.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
script.
    runSocket("#{user._id}");

    $(document).ready(function() {
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });
    });
    
    const mBody = document.querySelector('.messages-body-outer');
    const iMBody = document.querySelector('.messages-body');
    mIpt.addEventListener('input', () => {
        if(mIpt.textContent != ''){
            document.querySelector('.message-input-placeholder').style.display = 'none';
        } else {
            document.querySelector('.message-input-placeholder').style.display = 'block';
        }
    })
    
    const setChatView = () => {
        mBody.scrollTo(0, mBody.scrollHeight - mBody.clientHeight);
        console.log(1)
    }
    setChatView();

    setTimeout(() => {
        mBody.style.backgroundImage = 'none';
        iMBody.style.visibility = 'visible';
    }, 100);

    window.onbeforeunload = () => {
        socket.emit('dconnect', "#{user._id}")   
    }

    

    
    